body {
  background-color: #FFF1F1;
}

.img {
 max-width: 600px;
 height: auto;
 margin-left: 50px;
 margin-top: 120px;
float: right;
opacity: .8;
filter: alpha(opacity=100)
  }

.header{
  color:#A85353;
  font-family: sans-serif;
  margin-left: 125px;
  margin-top: 120px;
}

.header h1 {
  margin-top: 30px;
}

.header p {
  margin-top: 30px;
}

.end {
  text-align: center;
}

.lang {
  color: #C2C2F4;
}

.end {
float: left;
align-content: center;
margin-left: 120px;
border: 3px solid #f0e6fa;
padding: 20px;
background-color: #F4C2C2;
}

.end a {
  color: #CE8585;
  font-family: sans-serif;
}

.end {
  color: #A85353;
}

.well {
  background-color: #ffebee;
}

.well a {
  color: #A85353;
  text-align: center;
}

.well p {
  text-align: center;
}

.jumbotron {
  background-color: #ffebee;
  margin-top: 50px;
}
.jumbotron h1 {
  color: #A85353
}

.row h2 {
  color: #A85353;
}

strong {
  color: #A85353;
}
